*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  
}
body{
  background: linear-gradient(100deg, #ececec, #7471a0);

}

.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(100deg,#86a1cf, #d1d1d1);
    padding: 10px;
}

img{
  padding-left: 5px;
}

.todo-app{
  width: 100%;
  max-width: 540px; 
  background: #fff;
  margin: 100px auto 20px;
  padding: 40px 30px 70px;
  border-radius: 10px;
}
.todo-app h2{
  color: #4f58aa;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.todo-app h2 img{
  width: 30px;
  margin-left: 10px;
}
.row{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #b3b3b4;
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 25px;
}
input{
  flex:1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
  font-weight: 14px;
}
button{
  border: none;
  outline: none;
  padding: 16px 50px;
  background: #ff5945;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 40px;
}
ul li{
  list-style: none;
  font-size: 17px;
  padding: 12px 8px 12px 50px;
  user-select: none;
  cursor: pointer;
  position:relative;
}

ul li.checked{
  color:#555;
  text-decoration: line-through;
}

ul li span{
  position: absolute;
  right: 0;
  top: 5px;
  width: 40px;
  height: 40px;
  font-size: 22px;
  color: #555;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
}
ul li span:hover{
  background: #ececec;

}
